<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" opened>
        <div class="profile-container">
            <mat-icon>account_circle</mat-icon>
            <a>{{authService.getUsername()}}</a>
        </div>
        <mat-list>
            <mat-list-item [ngClass]="selectedUser==user ? 'active-chat' : ''" (click)="openChat(user)" style="cursor:pointer; display: flex; flex-direction:row; align-items: center;" *ngFor="let user of chatStateService.chatUsers">
                <mat-icon matListItemIcon color="primary">U</mat-icon>
                <span matListItemTitle>{{user.username}}</span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span *ngIf="selectedUser">{{selectedUser.username}}</span>
        </mat-toolbar>
        <div class="messages-container" #msgComp>
            <div class="secure-inbox-container" *ngIf="selectedUser==null">
                <label>Secured Inbox</label>
            </div>
            <div class="msg-list" #msgList *ngIf="selectedUser">
                <!-- <mat-card class="msg-elem" [ngClass]="m.sender==selectedUser.username ? 'left sender' : 'right receiver'" *ngFor="let m of selectedUser.msgs">
                    <a>{{m.content}}</a>
                </mat-card> -->
                <p>{{selectedUser.publicRsa}}</p>
                <a>{{this.chatStateService.user!.publicEC}}</a>
            </div>
        </div>
        <div *ngIf="selectedUser" class="bottom-container">     
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea [(ngModel)]="msgContent" matInput></textarea>
            </mat-form-field>
            <button class="send-button" color="primary" mat-icon-button><mat-icon>send</mat-icon></button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>