@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


@import './_variables.scss';


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sc-primary: mat.define-palette($md-primary);
$sc-accent:mat.define-palette($md-secondary);
// The warn palette is optional (defaults to red).
$sc-warn: mat.define-palette($md-warning);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ip_etfbl-theme: mat.define-light-theme((
  color: (
    primary: $sc-primary,
    accent: $sc-accent,
    warn: $sc-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
  form-field: (
    color: (
      text: $md-text
    )
  ),
  input: (
    color: $md-text
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ip_etfbl-theme);

.mat-form-field-appearance-fill .mat-form-field-label,
.mat-form-field-appearance-fill .mat-input-element {
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-label,
.mat-form-field-appearance-outline .mat-input-element {
  color: white;
}

.mat-form-field-appearance-standard .mat-form-field-label,
.mat-form-field-appearance-standard .mat-input-element {
  color: white;
}